.robot-simulator {
    display: flex;
    flex-direction: column;
}

.container {
    width: 500px;
    height: 500px;
    background-color: brown;
}

.controller {
    display: flex;
    #commands {
        width: 393px;
    }
}

.btn {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.message {
    color: red;
}